<!DOCTYPE html>
<html>

<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <title>AdminDesigns - A Responsive HTML5 Admin UI Framework</title>
    <meta name="keywords" content="HTML5 Bootstrap 3 Admin Template UI Theme" />
    <meta name="description" content="AdminDesigns - A Responsive HTML5 Admin UI Framework">
    <meta name="author" content="AdminDesigns">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font CSS (Via CDN) -->
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700'>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">

    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

</head>
<body class="dashboard-page sb-l-o sb-r-c">
    <!-- Start: Main -->
    <div id="main">

        <!-- Start: Header -->
        <header class="navbar">
          <div class="row">
            <div class="navbar-branding col-md-5">
                <a class="navbar-brand" id="logo" href="dashboard.html"><%=image_tag "logo-transparent.png", class: "img-responsive"%>
                </a>
            </div>
            <div class="col-md-3">
              <text class="banner" id="live">
                LIVE
              </text>
              <text class="banner">
                DASHBOARD
              </text>
            </div>
            <div class="col-md-4">
              TIME HOLDER
            </div>
          </div>
        </header>
        <!-- End: Header -->
        <!-- Start: Sidebar -->
        <aside id="sidebar_left" class="nano nano-primary">
            <div class="nano-content">
                <!-- sidebar menu -->
                <ul class="nav sidebar-menu" >
                    <li class="sidebar-label pt20">Our School</li>
                    <div id="holder">
                    <ul class='scrollable-menu'>
                      <li>
                          <a>
                              <span class="sidebar-title">School1</span>
                          </a>
                      </li>
                      <li>
                          <a>
                              <span class="sidebar-title">School2</span>
                          </a>
                      </li>
                    <li class="active">
                        <a>
                            <span class="sidebar-title">School3</span>
                        </a>
                    </li>
                    <li class="active">
                        <a>
                            <span class="sidebar-title">School4</span>
                        </a>
                    </li>
                    <li class="active">
                        <a>
                            <span class="sidebar-title">School5</span>
                        </a>
                    </li>
                </ul>
                </div>
                    <li class="sidebar-label pt15">Our People</li>
                    <div class="people">
                    <li>
                        <a>
                            <span class="sidebar-title">Faculty/staff</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="sidebar-title">Students</span>
                        </a>
                    </li>
                    <li>
                        <a class="accordion-toggle" href="#">
                            <span class="sidebar-title">Parents</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="sidebar-title">Coaches</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="sidebar-title">Volunteers</span>
                        </a>
                    </li>
                  </div>
                    <li class="sidebar-label pt20">Tags</li>
                    <div class="white-container">
                      <text class="labeltag">Grades</text> </br>
                      <div id="grades">
                        <button class="grade">9</button>
                        <button class="grade">10</button>
                        <button class="grade">11</button>
                        <button class="grade">12</button>
                      </div>
                      <text class="labeltag">Subject</text> </br>
                      <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle", type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                          Choose Subject
                          <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                          </ul>
                      </div>
                      <text class="labeltag">Gender</text> </br>
                      <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle", type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
                          Choose Gender
                          <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                          </ul>
                      </div>
                    </div>
                    <!-- sidebar resources -->
                    <li class="sidebar-label pt20">My Groups</li>
                    <div class="people">
                    <li>
                        <a>
                            <span class="sidebar-title">ESL 9th Graders</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="sidebar-title">Absentee Issues 9-12</span>
                        </a>
                    </li>
                    <li>
                        <a>
                          <span class="sidebar-title">10-12 Girls Math</span>
                        </a>
                    </li>
                  </div>
                </ul>
            </div>
        </aside>
        <!-- Start: Content-Wrapper -->
        <section id="content_wrapper">
            <!-- Begin: Content -->
            <section id="content" class="animated fadeIn">
                <div>
                    <div class="row">
                        <div class="col-md-6 admin-grid">
                          <canvas id="lineChart" width="450" height="225"></canvas>
                        </div>
                        <div class="col-md-6 admin-grid">
                          <div class="display">
                            <text class="contentLabel">Display</text>
                            <div class="row">
                              <div class="col-md-6 ">
                                <div class="well infoInset">
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="well infoInset">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 admin-grid">
                        <canvas id="lineChart2" width="450" height="225"></canvas>
                      </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
    <script type="text/javascript">
        jQuery(document).ready(function() {
        $('button.grade').click(function () {
          $('button.grade').css('background-color', 'white');
          $(this).css('background-color', '#8BC43F');
        });
      });
    </script>
</body>

</html>
